ASSEMBLY_API_KEY=replace-with-issued-key
ASSEMBLY_PAGE_SIZE=1000
ASSEMBLY_BILL_FEED_CONCURRENCY=4
ASSEMBLY_VOTE_DETAIL_CONCURRENCY=6
ASSEMBLY_BILL_VOTE_SUMMARY_CONCURRENCY=4
ASSEMBLY_FETCH_TIMEOUT_MS=20000
ASSEMBLY_FETCH_RETRIES=2
DATA_REPO=your-account/lawmaker-monitor-data
DATA_REPO_BRANCH=main
DATA_REPO_BASE_URL=https://your-account.github.io/lawmaker-monitor-data/
DATA_REPO_PAT=replace-me

# Public document mirror settings
MIRROR_MODE=assembly_minutes_search
MIRROR_SOURCE_ID=assembly-minutes
MIRROR_START_URL=https://record.assembly.go.kr/assembly/mnts/minutes/search.do
MIRROR_READY_SELECTOR=form[name='frm_sch']
MIRROR_ROW_SELECTOR=.sch_rslt .rslt_list > li.list
MIRROR_TITLE_SELECTOR=.con .ellipsis a
MIRROR_LINK_ATTRIBUTE=href
MIRROR_LINK_SELECTOR=.btn_list a[href*='/viewer/minutes/download/pdf.do'], .btn_list a[href*='/viewer/minutes/download/hwp.do'], .btn_list a[href*='/viewer/minutes/download/img.do'], .con .ellipsis a
MIRROR_DATE_SELECTOR=.std .date
MIRROR_NEXT_SELECTOR=.page_nav a.next:not([disabled])
MIRROR_MAX_PAGES=25
MIRROR_MAX_DOWNLOADS=80
MIRROR_PAGE_DELAY_MS=1000
MIRROR_TIMEOUT_MS=20000
MIRROR_TIME_ZONE=Asia/Seoul
MIRROR_RECENT_DAYS=3
MIRROR_BACKFILL_START_DATE=2024-05-30
MIRROR_BACKFILL_DAYS=7
MIRROR_INCLUDE_APPENDICES=true
